body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #ddddd1;
    background-color: #FFFFFF;
    margin: 0px;
}

h1 {
    color: #FFFFFF;
    margin: 2px;
    display: inline;
    line-height: 40px;
}

.topbarcontainer, .container, .menubar {
    margin: 0 auto ;
    width: 1024px;
}

.topbar {
    background-color: #00659f;
    margin-bottom: 20px;
    height: 40px;
}

.topbarcontainer {
    height: 40px;
}
.menubar {
    float: right;
    width: 400px;
}

.menubar a {
    background-color: #00659f;
    color: #FFFFFF;
    float: right;
    height: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-left: 1px solid #005383;
    border-right: 1px solid #005383;
}

.menubar a:hover {
    background-color: #4591bc;
}

.leftContainer {
    background-color: #e46c0a;
    width: 290px;
    min-height: 600px;
    display: none;
    margin-right: 30px;
    float: left;
    padding: 5px;
    border-radius: 5px
}

.leftContainer.leftContainerShow {
    display: block;
}

.rightContainer {
    background-color: #e46c0a;
    padding: 5px;
    width: 1014px;
    float: left;
    border-radius: 5px
}

.rightContainerSmall {
    width: 684px;
}

.thumbnails {
    float: left;
    margin: 16px;
    border-radius: 5px
}

#thumbnailContainer {
    background-color: #FFFFFF;
    width: 100%;
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px
}

#photoContainer, #uploadContainer {
    margin-top: 52px;
    background-color: #e46c0a;
    padding: 5px;
    border-radius: 5px
}

#photoContainer {
    background-color: #FFFFFF;
    border: 5px solid #e46c0a;
}

#photoContainer .photoinfo {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    color: #000000;
}

#tagsContainer {
    background-color: #FFFFFF;
    width: 270px;
    min-height: 599px;
    padding: 10px;
    color: #000000;
    border-radius: 5px
}

#tagsContainer .tag {
    list-style: none;
    padding-left: 0px;
}

#tagsContainer .tag li {
    margin-top: 10px;
    border: 1px solid #cc2227;
    padding: 5px;
    border-radius: 5px;
}

.tag li.selected {
    background-color: lightgray;
}

.optionsbar {
    display: inline-block;
    height: 30px;
}

.optionsbar .showtags {
    background-color: #e46c0a;
    color: #FFFFFF;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

a.showthumb {
    display: none;
}

#form {
    background-color: #FFFFFF;
    padding: 5px 20px 20px 20px;
    color: #000000;
}

#form input[type="submit"] {
    background-color: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px
}

.done-true{text-decoration:line-through;color:gray}