<div ng-cloak>
    <div id="tagsContainer">
        <input ng-model="tagsComp.nameFilterString" placeholder="Type your filter">

        <ul class="tag">
            <li ng-class="{selected: tag.selected}"
                ng-repeat="tag in tagsComp.tags | filter:{name:tagsComp.nameFilterString} | orderBy: 'name'"
                ng-click="tagsComp.filter(tag)">{{tag.name}}</li>
        </ul>
    </div>
</div>