<div ng-cloak>
    <div id="uploadContainer">
        <form id="form" ng-submit="uploadComp.uploadPhotos()">
            <label for="photocontent">Photo to upload:</label>
            <input type="file" name="content" id="photocontent" multiple>
            <input class="btn-primary" type="submit" value="upload">
        </form>
    </div>
</div>