body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #ddddd1;
    background-color: #FFFFFF;
}

h1 {
    color: #00659f;
}

.topbar, .container, .menubar {
    margin: 10px auto 0;
    width: 1024px;
}

.menubar a {
    background-color: #00659f;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: -19px;
    text-decoration: none;
}

.leftContainer {
    background-color: #e46c0a;
    width: 260px;
    min-height: 600px;
    display: none;
    margin-right: 20px;
    float: left;
    padding: 20px;
    border-radius: 5px
}

.leftContainer.leftContainerShow {
    display: block;
}

.rightContainer {
    background-color: #e46c0a;
    padding: 15px;
    width: 984px;
    float: left;
    border-radius: 5px
}

.rightContainerSmall {
    width: 664px;
}

.thumbnails {
    float: left;
    margin: 5px;
    border: 5px solid #cc2227;
    border-radius: 5px
}

#thumbnailContainer {
    width: 100%;
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px
}

#photoContainer, #uploadContainer {
    margin-top: 52px;
    background-color: #e46c0a;
    padding: 15px;
    border-radius: 5px
}

#photoContainer .photoinfo {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    color: #000000;
}

#tagsContainer {
    background-color: #FFFFFF;
    width: 240px;
    min-height: 599px;
    padding: 10px;
    color: #000000;
    border-radius: 5px
}

#tagsContainer .tag {
    list-style: none;
}

#tagsContainer .tag li {
    margin-top: 10px;
    border: 1px solid #cc2227;
    padding: 5px;
    border-radius: 5px;
}

.tag li.selected {
    background-color: darkgrey;
}

.optionsbar {
    display: inline-block;
    height: 30px;
}

.optionsbar .showtags {
    background-color: #e46c0a;
    color: #FFFFFF;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

a.showthumb {
    display: none;
}

.done-true{text-decoration:line-through;color:gray}