<div ng-cloak>
    <div class="optionsbar">
        <div class="showtags" ng-click="thumbnailsComp.toggleTags()">
            Tags
        </div>
    </div>
    <div>
		<div class="leftContainer">
			<ng-view></ng-view>
		</div>
		<div class="rightContainer">
			<div id="thumbnailContainer">
				<div ng-repeat="thumbnail in thumbnailsComp.thumbnails" class="thumbnails">
					<a href="#/photo/{{thumbnail.id}}">
						<img src="{{thumbnailsComp.baseURL}}/{{thumbnail.id}}/thumb?width=300&height=300"
							 alt="{{thumbnail.name}}"/>
					</a>
				</div>
				<div style="height: 1000px"></div>
			</div>
		</div>
    </div>
</div>