<div ng-cloak>
    <div id="photoContainer">
        <img src="{{photoComp.serverUrl}}/{{photoComp.photo.id}}/content" alt="{{photoComp.photo.name}}"/>

        <div class="photoinfo">
            <div>
                <b>Tags:</b> <span class="tag" ng-repeat="tag in photoComp.photo.tags">{{tag}}</span>
            </div>
            <div>
                <b>Datum:</b> <span class="datum" >{{photoComp.photo.date | date:'dd-MM-yyyy H:m'}}</span>
            </div>
            <form ng-submit="photoComp.addTag()">
                <input type="text" ng-model="photoComp.tag"  size="30"
                       placeholder="add new tag here">
                <input class="btn-primary" type="submit" value="add">
            </form>
        </div>
    </div>
</div>