<div ng-cloak>
    <div id="tagsContainer">
        <input ng-model="tagsComp.nameFilterString" placeholder="Type your filter">

        <!-- when defined in other order (orderBy ... | filter ...) you will receive an error. This is also handled streaming! -->
        <ul class="tag">
            <li ng-class="{selected: tag.selected}"
                ng-repeat="tag in tagsComp.tags | filter:{name:tagsComp.nameFilterString} | orderBy: 'name'"
                ng-click="tagsComp.selectTag(tag)">{{tag.name}}</li>
        </ul>
    </div>
</div>