<div ng-cloak>
    <div class="optionsbar">
        <div class="showtags" ng-click="thumbnailsComp.toggleTags()">
            Tags
        </div>
    </div>
    <div ng-switch="thumbnailsComp.thumbnailsLoaded">
        <div ng-switch-when="false" class="rightContainer">
            {{thumbnailsComp.message}}
        </div>
        <div ng-switch-when="true">
            <div class="leftContainer">
                <ng-view></ng-view>
            </div>
            <div class="rightContainer">
                <div id="thumbnailContainer" ng-scroll="{{thumbnailsComp.scroll()}}">
                    <div ng-repeat="thumbnail in thumbnailsComp.thumbnails" class="thumbnails">
                        <a href="#/photo/{{thumbnail.id}}">
                            <img src="{{thumbnailsComp.serverUrl}}/{{thumbnail.id}}/thumb?width=300&height=300"
                                 alt="{{thumbnail.name}}"/>
                        </a>
                    </div>
                    <div style="height: 1000px"></div>
                </div>
            </div>
       </div>
    </div>
</div>