<div ng-cloak>
    <div class="rightContainer">
        <div id="thumbnailContainer">
            <div ng-repeat="thumbnail in thumbnailsComp.thumbnails" class="thumbnails">
                <li>{{thumbnail.name}}</li>
            </div>
        </div>
    </div>
</div>